<div class="container">
  <div class="row">
    <div class="jumbotron jumbocolor">
      <h1 class="display-4">Newscrape!</h1>
      <p class="lead">This is a simple Newscrape app, just scrape some news from CNET.com to know more about
        technology, social media and TV.</p>
      <hr class="my-4">
      <button class="btn btn-mycolor btn-lg"  id="scrape" role="button">Scrape</button>
      <a class="btn btn-mycolor btn-lg" href="/articles/saved" id="savedbtn" role="button">Saved Articles</a>
    </div>

  </div>
  <div id="articles" class="container">

    {{#if saved}}
    
      {{#each articles}}
        {{>articles/articles_saved}}
      {{/each}}

    {{else}}
   
      {{#each articles}}
        {{>articles/articles_card}}
      {{/each}}
    {{/if}}
  </div>