<div class="card m-4">
  <div class="card-header">
    {{this.title}}
  </div>

  <div class="card-body">
    <div class="media">
      <img src={{this.picture}} class="align-self-center mr-3" alt="...">
      <div class="media-body">
        <blockquote class="blockquote mb-0">
          <p>{{this.summary}}</p>

          <button type="button" class="btn btn-mysave" data-dismiss="modal">Save Article</button>
          <button type="button" class="btn btn-myview">View Article</button>
        </blockquote>
      </div>
    </div>
  </div>
</div>