
.jumbocolor {
    background-color: #9b7ba0;
}

.btn-mycolor {
    background-color: darkseagreen;
}

.btn-mysave {
    background-color: #cbaadd;
}

.btn-myview{
    background-color: #e9e3ed;
}

.btn-bye {
    background-color: coral;
}

.btn-notebye {
    background-color: coral;
}

.btn-myarticle {
    background-color: darkseagreen;
}

.btn-scrapy {
    background-color: azure;
}